#* @vtlvariable name="supportedLang" type="pl.edu.uj.ii.webapp.execute.SupportedLang[]" *#
#if($!message)
<p>
    $message
</p>
#end
<p>
    <b>
        Rozwiazania w jezyku Java musza byc kompilowalne. Przyklad. Plik o nazwie "New Text Document" z zawartoscia class RushHour { ... }, nie jest
        poprawnym plikiem.
    </b>
</p>
<p>
    Wszystkie zestawy przypadkow testowych sa dostepne pod adressem:<br/>
    <a href="https://github.com/gauee/RushHour/tree/master/rush-hour-webapp/src/main/resources_os/testCases">https://github.com/gauee/RushHour/tree/master/rush-hour-webapp/src/main/resources_os/testCases</a>
</p>
<form action="/submit" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Upload source code content</legend>
        <table class="no-border" style="text-align: left;">
            <tr>
                <td class="no-border">Select Language</td>
                <td class="no-border">
                    <select name="supportedLang">
                        #foreach ($lang in $supportedLang)
                            <option value="$lang.ordinal()">$lang.getDescription()</option>
                        #end
                    </select>
                </td>
            </tr>
            <tr>
                <td class="no-border">Upload file</td>
                <td class="no-border">
                    <input name="fileContent" class="input-file" type="file">
                </td>
            </tr>
            <tr>
                <td class="no-border">Author</td>
                <td class="no-border">
                    <input name="author" type="text">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="no-border">
                    <input type="submit" value="Submit solution">
                </td>
            </tr>
        </table>
    </fieldset>
</form>

#parse('templates/top_solutions.vm')