#* @vtlvariable name="totalResult" type="pl.edu.uj.ii.webapp.ui.TotalResult" *#
#* @vtlvariable name="timeDuration" type="org.apache.commons.lang3.time.DurationFormatUtils" *#
#* @vtlvariable name="stepsCounter" type="pl.edu.uj.ii.webapp.ui.TotalStepCounter" *#

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>RushHour Testerka</title>
    <style>
        a {
            text-decoration: none;
            color: #aaa;
            font-weight: bold;
        }

        a:hover {
            color: #000;
        }

        table {
            text-align: center;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .no-border {
            border: none;
        }
    </style>
</head>

<body>
<h1>Testerka rozwiazan problemu RushHour</h1>
    #parse($content_block)
</body>
</html>

#macro( authorHref $authorId $msg)
<a href="/author/$authorId">$msg</a>
#end

#macro( printDuration $duration)
    $timeDuration.formatDuration($duration,"mm:ss",false).replaceFirst(":"," min ") secs
#end